@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --card-size: 120px;
  --rich-black: #00171f;
  --prussian-red: #7a210a;
  --pokeball: #a70000;
}
* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  background-image: url(/images/pokeball-cover.jpg);
  color: #fff;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(40px, 120px));
  gap: 10px;
  padding: 10px 10px 10px 10px;
}

.card {
  width: 100%;
  aspect-ratio: 0.72/1;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: 0.3s;
  backface-visibility: hidden;
  border: 3px solid var(--rich-black);
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  background: #fff;
}

.front {
  transform: rotateY(180deg);
}

.back,
.card.flipped .front {
  transform: rotateY(0deg);
}

.card.flipped .back {
  transform: rotateY(-180deg);
}

.modal:not([hidden]) {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: var(--prussian-red);
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 20px;

  h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    background: var(--pokeball);
    color: #fff;
    transition: 0.3s;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  button:active,
  button:hover {
    background: var(--rich-black);
  }
}
