@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --card-size: 125px;
  --rich-black: #00171f;
  --prussian-red: #7a210a;
  --pokeball: #a70000;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url(/images/pokeball-cover.jpg);
  color: #fff;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, var(--card-size));
  gap: 15px;
}

.card {
  width: var(--card-size);
  aspect-ratio: 1/1;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card img {
  width: var(--card-size);
  height: var(--card-size);
  object-fit: fill;
  position: absolute;
  transition: 0.3s;
  backface-visibility: hidden;
  border: 3px solid var(--rich-black);
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  background: #fff;
}

.front {
  transform: rotateY(180deg);
}

.back,
.card.flipped .front {
  transform: rotateY(0deg);
}

.card.flipped .back {
  transform: rotateY(-180deg);
}

.modal:not([hidden]) {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: var(--prussian-red);
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 20px;

  h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  p {
    font-size: 1.25rem;
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    background: var(--pokeball);
    color: #fff;
    transition: 0.3s;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  button:active,
  button:hover {
    background: var(--rich-black);
  }
}

@media (max-width: 460px) {
  :root {
    --card-size: 90px;
  }

  body {
    padding: 10px;
  }

  .card-grid {
    grid-template-columns: repeat(4, var(--card-size));
    gap: 5px;
  }

  .card img {
    border: 2px solid var(--rich-black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .modal:not([hidden]) {
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 12px;
    }
    button {
      font-size: 10px;
    }
  }
}
@media (max-width: 720px) {
  :root {
    --card-size: 90px;
  }

  body {
    padding: 10px;
  }

  .card-grid {
    grid-template-columns: repeat(4, var(--card-size));
    gap: 10px;
  }
}
